h1, h2 {
    text-align: center;
}

form, table {
    margin: 0px auto;
    width: 150px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#productContainer {
    margin-top: 30px;
}

#loginContainer {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}